In [3]:
import pandas as pd

file_path = "/Users/ksw00/PycharmProjects/pythonProject/DSL_EDA/202412_202412_연령별인구현황_월간.csv"

# CSV 파일을 데이터프레임으로 읽기
df = pd.read_csv(file_path)
df

,행정구역,2024년12월_계_총인구수,2024년12월_계_연령구간인구수,2024년12월_계_0~9세,2024년12월_계_10~19세,2024년12월_계_20~29세,2024년12월_계_30~39세,2024년12월_계_40~49세,2024년12월_계_50~59세,2024년12월_계_60~69세,...,2024년12월_여_10~19세,2024년12월_여_20~29세,2024년12월_여_30~39세,2024년12월_여_40~49세,2024년12월_여_50~59세,2024년12월_여_60~69세,2024년12월_여_70~79세,2024년12월_여_80~89세,2024년12월_여_90~99세,2024년12월_여_100세 이상
0,서울특별시 (1100000000),"9,331,828","9,331,828","483,780","720,767","1,308,260","1,442,665","1,383,950","1,486,068","1,326,239",...,"352,043","692,450","720,478","700,244","755,144","698,464","423,979","210,875","35,979","1,150"
1,서울특별시 종로구 (1111000000),"138,336","138,336","5,511","9,378","20,963","19,754","18,487","23,376","21,016",...,"4,774","11,133","9,920","9,547","11,851","10,493","6,449","4,118",749,28
2,서울특별시 중구 (1114000000),"120,544","120,544","5,316","5,883","16,777","21,596","16,416","18,580","18,409",...,"2,947","9,296","10,843","8,092","9,287","9,272","5,909","3,582",690,15
3,서울특별시 용산구 (1117000000),"203,854","203,854","10,250","12,916","27,775","36,786","29,357","32,657","28,488",...,"6,325","15,158","18,729","14,851","16,762","14,575","8,521","5,373","1,007",35
4,서울특별시 성동구 (1120000000),"273,669","273,669","15,974","17,331","38,953","46,424","39,754","43,452","38,618",...,"8,723","20,211","23,690","19,856","22,158","19,711","11,623","6,519","1,025",22
5,서울특별시 광진구 (1121500000),"331,963","331,963","14,098","22,986","56,887","55,354","46,529","52,263","46,029",...,"11,375","30,622","27,768","23,752","26,927","24,022","13,455","6,752","1,124",34
6,서울특별시 동대문구 (1123000000),"338,735","338,735","17,174","22,270","55,543","50,145","47,253","51,914","48,622",...,"10,957","29,461","24,480","22,967","25,732","24,864","16,088","8,725","1,336",38
7,서울특별시 중랑구 (1126000000),"379,274","379,274","17,793","23,268","47,546","58,262","51,810","63,359","64,182",...,"11,333","25,064","28,536","24,875","32,064","33,175","19,086","9,384","1,502",48
8,서울특별시 성북구 (1129000000),"421,560","421,560","22,495","33,973","63,499","55,832","60,897","70,765","58,651",...,"16,673","33,814","27,860","30,898","35,880","31,104","19,536","11,018","1,767",48
9,서울특별시 강북구 (1130500000),"283,597","283,597","10,554","18,405","36,202","34,602","37,947","49,733","48,077",...,"9,021","19,219","16,425","18,281","25,174","25,270","17,533","9,437","1,252",34
10,서울특별시 도봉구 (1132000000),"303,228","303,228","12,967","21,597","35,652","37,405","40,743","53,292","53,474",...,"10,423","18,041","18,228","20,302","27,692","28,339","16,512","9,145","1,514",48
11,서울특별시 노원구 (1135000000),"491,247","491,247","24,492","45,416","64,147","60,798","71,901","85,830","73,322",...,"21,868","31,806","30,090","37,586","44,524","39,417","23,360","12,859","2,334",77
12,서울특별시 은평구 (1138000000),"460,919","460,919","22,056","34,299","59,286","66,321","67,227","77,598","69,457",...,"16,744","31,922","33,925","34,087","40,285","37,203","23,510","12,377","1,830",51
13,서울특별시 서대문구 (1141000000),"302,853","302,853","16,407","21,711","46,822","44,821","42,811","48,522","41,751",...,"10,900","25,436","22,663","21,716","24,990","22,103","13,848","8,434","1,295",58
14,서울특별시 마포구 (1144000000),"361,417","361,417","19,399","25,945","57,211","64,467","55,557","56,204","42,906",...,"13,002","32,394","34,020","28,810","28,866","22,738","14,051","8,228","1,408",38
15,서울특별시 양천구 (1147000000),"430,976","430,976","23,903","46,832","49,788","52,579","70,646","73,856","63,133",...,"22,527","24,730","26,425","36,894","37,312","33,168","18,345","8,119","1,583",53
16,서울특별시 강서구 (1150000000),"556,171","556,171","28,860","40,759","75,441","96,299","83,837","82,581","80,424",...,"19,892","41,530","48,314","41,732","42,322","43,412","25,018","11,369","2,192",68
17,서울특별시 구로구 (1153000000),"388,169","388,169","21,066","27,523","48,308","60,988","56,458","61,376","58,921",...,"13,518","25,087","29,885","27,601","30,916","31,076","19,537","8,892","1,405",40
18,서울특별시 금천구 (1154500000),"225,159","225,159","9,026","12,425","33,570","38,518","28,335","36,401","36,880",...,"6,133","17,417","17,312","13,182","18,089","18,593","10,863","5,129",772,26
19,서울특별시 영등포구 (1156000000),"373,773","373,773","20,788","22,564","55,378","72,883","52,833","54,746","49,446",...,"10,901","30,621","36,056","25,711","27,053","25,081","15,690","8,275","1,344",50
20,서울특별시 동작구 (1159000000),"375,799","375,799","18,625","25,190","62,110","60,801","52,671","57,102","50,843",...,"12,328","32,301","29,761","26,319","29,248","27,240","17,722","8,650","1,489",47
21,서울특별시 관악구 (1162000000),"477,812","477,812","15,023","24,096","103,855","90,812","59,200","65,224","60,569",...,"11,885","53,796","39,928","27,390","31,756","31,807","21,677","10,322","1,414",44
22,서울특별시 서초구 (1165000000),"408,376","408,376","26,634","44,789","48,973","57,116","70,881","66,402","48,526",...,"22,131","25,808","30,703","38,178","33,662","25,961","16,583","6,881","1,326",48
23,서울특별시 강남구 (1168000000),"557,345","557,345","33,160","63,527","66,304","81,291","100,892","87,915","64,239",...,"30,384","35,122","43,077","54,753","43,953","34,383","22,504","8,727","1,816",65
24,서울특별시 송파구 (1171000000),"650,110","650,110","41,140","56,850","81,042","105,894","104,729","100,004","89,615",...,"28,029","43,016","55,160","54,267","51,701","47,803","25,869","10,402","2,163",67
25,서울특별시 강동구 (1174000000),"476,942","476,942","31,069","40,834","56,228","72,917","76,779","72,916","70,641",...,"19,250","29,445","36,680","38,597","36,940","37,654","20,690","8,158","1,642",68

In [4]:
df = df.drop(columns=["2024년12월_계_총인구수","2024년12월_계_연령구간인구수"])
df

,행정구역,2024년12월_계_0~9세,2024년12월_계_10~19세,2024년12월_계_20~29세,2024년12월_계_30~39세,2024년12월_계_40~49세,2024년12월_계_50~59세,2024년12월_계_60~69세,2024년12월_계_70~79세,2024년12월_계_80~89세,...,2024년12월_여_10~19세,2024년12월_여_20~29세,2024년12월_여_30~39세,2024년12월_여_40~49세,2024년12월_여_50~59세,2024년12월_여_60~69세,2024년12월_여_70~79세,2024년12월_여_80~89세,2024년12월_여_90~99세,2024년12월_여_100세 이상
0,서울특별시 (1100000000),"483,780","720,767","1,308,260","1,442,665","1,383,950","1,486,068","1,326,239","773,771","355,250",...,"352,043","692,450","720,478","700,244","755,144","698,464","423,979","210,875","35,979","1,150"
1,서울특별시 종로구 (1111000000),"5,511","9,378","20,963","19,754","18,487","23,376","21,016","11,867","6,837",...,"4,774","11,133","9,920","9,547","11,851","10,493","6,449","4,118",749,28
2,서울특별시 중구 (1114000000),"5,316","5,883","16,777","21,596","16,416","18,580","18,409","10,845","5,774",...,"2,947","9,296","10,843","8,092","9,287","9,272","5,909","3,582",690,15
3,서울특별시 용산구 (1117000000),"10,250","12,916","27,775","36,786","29,357","32,657","28,488","15,450","8,656",...,"6,325","15,158","18,729","14,851","16,762","14,575","8,521","5,373","1,007",35
4,서울특별시 성동구 (1120000000),"15,974","17,331","38,953","46,424","39,754","43,452","38,618","21,093","10,635",...,"8,723","20,211","23,690","19,856","22,158","19,711","11,623","6,519","1,025",22
5,서울특별시 광진구 (1121500000),"14,098","22,986","56,887","55,354","46,529","52,263","46,029","24,724","11,469",...,"11,375","30,622","27,768","23,752","26,927","24,022","13,455","6,752","1,124",34
6,서울특별시 동대문구 (1123000000),"17,174","22,270","55,543","50,145","47,253","51,914","48,622","29,361","14,531",...,"10,957","29,461","24,480","22,967","25,732","24,864","16,088","8,725","1,336",38
7,서울특별시 중랑구 (1126000000),"17,793","23,268","47,546","58,262","51,810","63,359","64,182","35,234","15,744",...,"11,333","25,064","28,536","24,875","32,064","33,175","19,086","9,384","1,502",48
8,서울특별시 성북구 (1129000000),"22,495","33,973","63,499","55,832","60,897","70,765","58,651","34,744","18,184",...,"16,673","33,814","27,860","30,898","35,880","31,104","19,536","11,018","1,767",48
9,서울특별시 강북구 (1130500000),"10,554","18,405","36,202","34,602","37,947","49,733","48,077","30,719","15,559",...,"9,021","19,219","16,425","18,281","25,174","25,270","17,533","9,437","1,252",34
10,서울특별시 도봉구 (1132000000),"12,967","21,597","35,652","37,405","40,743","53,292","53,474","30,684","15,278",...,"10,423","18,041","18,228","20,302","27,692","28,339","16,512","9,145","1,514",48
11,서울특별시 노원구 (1135000000),"24,492","45,416","64,147","60,798","71,901","85,830","73,322","41,842","20,282",...,"21,868","31,806","30,090","37,586","44,524","39,417","23,360","12,859","2,334",77
12,서울특별시 은평구 (1138000000),"22,056","34,299","59,286","66,321","67,227","77,598","69,457","41,465","20,583",...,"16,744","31,922","33,925","34,087","40,285","37,203","23,510","12,377","1,830",51
13,서울특별시 서대문구 (1141000000),"16,407","21,711","46,822","44,821","42,811","48,522","41,751","24,415","13,677",...,"10,900","25,436","22,663","21,716","24,990","22,103","13,848","8,434","1,295",58
14,서울특별시 마포구 (1144000000),"19,399","25,945","57,211","64,467","55,557","56,204","42,906","24,283","13,408",...,"13,002","32,394","34,020","28,810","28,866","22,738","14,051","8,228","1,408",38
15,서울특별시 양천구 (1147000000),"23,903","46,832","49,788","52,579","70,646","73,856","63,133","34,627","13,475",...,"22,527","24,730","26,425","36,894","37,312","33,168","18,345","8,119","1,583",53
16,서울특별시 강서구 (1150000000),"28,860","40,759","75,441","96,299","83,837","82,581","80,424","46,217","18,757",...,"19,892","41,530","48,314","41,732","42,322","43,412","25,018","11,369","2,192",68
17,서울특별시 구로구 (1153000000),"21,066","27,523","48,308","60,988","56,458","61,376","58,921","36,195","15,370",...,"13,518","25,087","29,885","27,601","30,916","31,076","19,537","8,892","1,405",40
18,서울특별시 금천구 (1154500000),"9,026","12,425","33,570","38,518","28,335","36,401","36,880","20,152","8,750",...,"6,133","17,417","17,312","13,182","18,089","18,593","10,863","5,129",772,26
19,서울특별시 영등포구 (1156000000),"20,788","22,564","55,378","72,883","52,833","54,746","49,446","29,081","14,068",...,"10,901","30,621","36,056","25,711","27,053","25,081","15,690","8,275","1,344",50
20,서울특별시 동작구 (1159000000),"18,625","25,190","62,110","60,801","52,671","57,102","50,843","31,386","14,930",...,"12,328","32,301","29,761","26,319","29,248","27,240","17,722","8,650","1,489",47
21,서울특별시 관악구 (1162000000),"15,023","24,096","103,855","90,812","59,200","65,224","60,569","38,976","18,024",...,"11,885","53,796","39,928","27,390","31,756","31,807","21,677","10,322","1,414",44
22,서울특별시 서초구 (1165000000),"26,634","44,789","48,973","57,116","70,881","66,402","48,526","30,398","12,664",...,"22,131","25,808","30,703","38,178","33,662","25,961","16,583","6,881","1,326",48
23,서울특별시 강남구 (1168000000),"33,160","63,527","66,304","81,291","100,892","87,915","64,239","41,309","16,099",...,"30,384","35,122","43,077","54,753","43,953","34,383","22,504","8,727","1,816",65
24,서울특별시 송파구 (1171000000),"41,140","56,850","81,042","105,894","104,729","100,004","89,615","49,551","18,307",...,"28,029","43,016","55,160","54,267","51,701","47,803","25,869","10,402","2,163",67
25,서울특별시 강동구 (1174000000),"31,069","40,834","56,228","72,917","76,779","72,916","70,641","39,153","14,189",...,"19,250","29,445","36,680","38,597","36,940","37,654","20,690","8,158","1,642",68

In [5]:
df_total = df.iloc[:,:12]
df_total

,행정구역,2024년12월_계_0~9세,2024년12월_계_10~19세,2024년12월_계_20~29세,2024년12월_계_30~39세,2024년12월_계_40~49세,2024년12월_계_50~59세,2024년12월_계_60~69세,2024년12월_계_70~79세,2024년12월_계_80~89세,2024년12월_계_90~99세,2024년12월_계_100세 이상
0,서울특별시 (1100000000),"483,780","720,767","1,308,260","1,442,665","1,383,950","1,486,068","1,326,239","773,771","355,250","49,594","1,484"
1,서울특별시 종로구 (1111000000),"5,511","9,378","20,963","19,754","18,487","23,376","21,016","11,867","6,837","1,106",41
2,서울특별시 중구 (1114000000),"5,316","5,883","16,777","21,596","16,416","18,580","18,409","10,845","5,774",926,22
3,서울특별시 용산구 (1117000000),"10,250","12,916","27,775","36,786","29,357","32,657","28,488","15,450","8,656","1,467",52
4,서울특별시 성동구 (1120000000),"15,974","17,331","38,953","46,424","39,754","43,452","38,618","21,093","10,635","1,401",34
5,서울특별시 광진구 (1121500000),"14,098","22,986","56,887","55,354","46,529","52,263","46,029","24,724","11,469","1,577",47
6,서울특별시 동대문구 (1123000000),"17,174","22,270","55,543","50,145","47,253","51,914","48,622","29,361","14,531","1,872",50
7,서울특별시 중랑구 (1126000000),"17,793","23,268","47,546","58,262","51,810","63,359","64,182","35,234","15,744","2,016",60
8,서울특별시 성북구 (1129000000),"22,495","33,973","63,499","55,832","60,897","70,765","58,651","34,744","18,184","2,455",65
9,서울특별시 강북구 (1130500000),"10,554","18,405","36,202","34,602","37,947","49,733","48,077","30,719","15,559","1,755",44
10,서울특별시 도봉구 (1132000000),"12,967","21,597","35,652","37,405","40,743","53,292","53,474","30,684","15,278","2,075",61
11,서울특별시 노원구 (1135000000),"24,492","45,416","64,147","60,798","71,901","85,830","73,322","41,842","20,282","3,121",96
12,서울특별시 은평구 (1138000000),"22,056","34,299","59,286","66,321","67,227","77,598","69,457","41,465","20,583","2,558",69
13,서울특별시 서대문구 (1141000000),"16,407","21,711","46,822","44,821","42,811","48,522","41,751","24,415","13,677","1,847",69
14,서울특별시 마포구 (1144000000),"19,399","25,945","57,211","64,467","55,557","56,204","42,906","24,283","13,408","1,990",47
15,서울특별시 양천구 (1147000000),"23,903","46,832","49,788","52,579","70,646","73,856","63,133","34,627","13,475","2,072",65
16,서울특별시 강서구 (1150000000),"28,860","40,759","75,441","96,299","83,837","82,581","80,424","46,217","18,757","2,910",86
17,서울특별시 구로구 (1153000000),"21,066","27,523","48,308","60,988","56,458","61,376","58,921","36,195","15,370","1,911",53
18,서울특별시 금천구 (1154500000),"9,026","12,425","33,570","38,518","28,335","36,401","36,880","20,152","8,750","1,067",35
19,서울특별시 영등포구 (1156000000),"20,788","22,564","55,378","72,883","52,833","54,746","49,446","29,081","14,068","1,926",60
20,서울특별시 동작구 (1159000000),"18,625","25,190","62,110","60,801","52,671","57,102","50,843","31,386","14,930","2,076",65
21,서울특별시 관악구 (1162000000),"15,023","24,096","103,855","90,812","59,200","65,224","60,569","38,976","18,024","1,983",50
22,서울특별시 서초구 (1165000000),"26,634","44,789","48,973","57,116","70,881","66,402","48,526","30,398","12,664","1,931",62
23,서울특별시 강남구 (1168000000),"33,160","63,527","66,304","81,291","100,892","87,915","64,239","41,309","16,099","2,526",83
24,서울특별시 송파구 (1171000000),"41,140","56,850","81,042","105,894","104,729","100,004","89,615","49,551","18,307","2,891",87
25,서울특별시 강동구 (1174000000),"31,069","40,834","56,228","72,917","76,779","72,916","70,641","39,153","14,189","2,135",81

In [7]:

# 결과 저장 리스트
result = []

# 각 행정구역별로 처리
for index, row in df_total.iterrows():
    # 행정구역명 저장
    region = row["행정구역"]
    # 연령대별 인구수 추출 및 정렬
    age_groups = row[1:].sort_values(ascending=False)[:3]
    # 결과 저장
    result.append({"행정구역": region, "상위 3 연령대": age_groups.index.tolist(), "인구수": age_groups.values.tolist()})

# 결과 데이터프레임 생성
result_df = pd.DataFrame(result)

result_df

,행정구역,상위 3 연령대,인구수
0,서울특별시 (1100000000),"[2024년12월_계_70~79세, 2024년12월_계_10~19세, 2024년12...","[773,771, 720,767, 49,594]"
1,서울특별시 종로구 (1111000000),"[2024년12월_계_10~19세, 2024년12월_계_80~89세, 2024년12...","[9,378, 6,837, 5,511]"
2,서울특별시 중구 (1114000000),"[2024년12월_계_90~99세, 2024년12월_계_10~19세, 2024년12...","[926, 5,883, 5,774]"
3,서울특별시 용산구 (1117000000),"[2024년12월_계_80~89세, 2024년12월_계_100세 이상, 2024년1...","[8,656, 52, 36,786]"
4,서울특별시 성동구 (1120000000),"[2024년12월_계_30~39세, 2024년12월_계_50~59세, 2024년12...","[46,424, 43,452, 39,754]"
5,서울특별시 광진구 (1121500000),"[2024년12월_계_20~29세, 2024년12월_계_30~39세, 2024년12...","[56,887, 55,354, 52,263]"
6,서울특별시 동대문구 (1123000000),"[2024년12월_계_20~29세, 2024년12월_계_50~59세, 2024년12...","[55,543, 51,914, 50,145]"
7,서울특별시 중랑구 (1126000000),"[2024년12월_계_60~69세, 2024년12월_계_50~59세, 2024년12...","[64,182, 63,359, 60]"
8,서울특별시 성북구 (1129000000),"[2024년12월_계_50~59세, 2024년12월_계_100세 이상, 2024년1...","[70,765, 65, 63,499]"
9,서울특별시 강북구 (1130500000),"[2024년12월_계_50~59세, 2024년12월_계_60~69세, 2024년12...","[49,733, 48,077, 44]"
10,서울특별시 도봉구 (1132000000),"[2024년12월_계_100세 이상, 2024년12월_계_60~69세, 2024년1...","[61, 53,474, 53,292]"
11,서울특별시 노원구 (1135000000),"[2024년12월_계_100세 이상, 2024년12월_계_50~59세, 2024년1...","[96, 85,830, 73,322]"
12,서울특별시 은평구 (1138000000),"[2024년12월_계_50~59세, 2024년12월_계_60~69세, 2024년12...","[77,598, 69,457, 69]"
13,서울특별시 서대문구 (1141000000),"[2024년12월_계_100세 이상, 2024년12월_계_50~59세, 2024년1...","[69, 48,522, 46,822]"
14,서울특별시 마포구 (1144000000),"[2024년12월_계_30~39세, 2024년12월_계_20~29세, 2024년12...","[64,467, 57,211, 56,204]"
15,서울특별시 양천구 (1147000000),"[2024년12월_계_50~59세, 2024년12월_계_40~49세, 2024년12...","[73,856, 70,646, 65]"
16,서울특별시 강서구 (1150000000),"[2024년12월_계_30~39세, 2024년12월_계_100세 이상, 2024년1...","[96,299, 86, 83,837]"
17,서울특별시 구로구 (1153000000),"[2024년12월_계_50~59세, 2024년12월_계_30~39세, 2024년12...","[61,376, 60,988, 58,921]"
18,서울특별시 금천구 (1154500000),"[2024년12월_계_0~9세, 2024년12월_계_80~89세, 2024년12월_...","[9,026, 8,750, 38,518]"
19,서울특별시 영등포구 (1156000000),"[2024년12월_계_30~39세, 2024년12월_계_100세 이상, 2024년1...","[72,883, 60, 55,378]"
20,서울특별시 동작구 (1159000000),"[2024년12월_계_100세 이상, 2024년12월_계_20~29세, 2024년1...","[65, 62,110, 60,801]"
21,서울특별시 관악구 (1162000000),"[2024년12월_계_30~39세, 2024년12월_계_50~59세, 2024년12...","[90,812, 65,224, 60,569]"
22,서울특별시 서초구 (1165000000),"[2024년12월_계_40~49세, 2024년12월_계_50~59세, 2024년12...","[70,881, 66,402, 62]"
23,서울특별시 강남구 (1168000000),"[2024년12월_계_50~59세, 2024년12월_계_100세 이상, 2024년1...","[87,915, 83, 81,291]"
24,서울특별시 송파구 (1171000000),"[2024년12월_계_60~69세, 2024년12월_계_100세 이상, 2024년1...","[89,615, 87, 81,042]"
25,서울특별시 강동구 (1174000000),"[2024년12월_계_100세 이상, 2024년12월_계_40~49세, 2024년1...","[81, 76,779, 72,917]"